<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp01">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".SubActivity_TimeTable"></activity>
        <activity android:name=".SubActivity_Setting" />
        <activity android:name=".SubActivity_TheUniv" />
        <activity android:name=".SubActivity_RollCall" /> <!-- 액티비티 속성 -->
        <activity android:name=".SubActivity_Microdust" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".SubActivity_Manager" />
        <activity android:name=".SubActivity_SearchPw" />
        <activity android:name=".MainActivity">

            <!-- 실행 가능한 액티비티임을 나타내는 설정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>